.card {
  width: 272px;
  height: 320px;
  // position: absolute;
  position: relative;
  z-index: 2;
  bottom: 320px;
  left: 18.5%;
  // bottom: -25px;
  // left: 17%;
}

@media (max-width: 1024px) {
  .card {
    left: 15%;
  }
}

@media (max-width: 900px) {
  .card {
    bottom: 330px;
    left: -6%;
  }
}

@media (max-width: 768px) {
  .card {
    // left: -100px;
    bottom: 100px;
    left: -18%;
    // width: 230px;
  }
}

@media (max-width: 481px) {
  .card {
    width: 240px;
    left: -51%;
  }
}