.form {
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .input, button {
    width: 100%;
    height: 48px;
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;

    input {
      height: 90%;
      width: 85%;
      border: none;

      &::placeholder {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        justify-content: flex-end;
        color: #807C7C;
      }
    }
  }

  button {
    height: 48px;
    background: #F2726C;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    margin: 35px 0;
    cursor: pointer;

    &:active {
      color: #F2726C;
      background: #FFFFFF;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 78%;
  }
}

@media screen and (max-width: 481px) {
  .form {
    width: 84%;

    button {
      margin: 30px 0;
    }
  }
}