.parrot {
  width: 460px;
  position: absolute;
  top: -60px;
  left: 146px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .parrot {
    left: 90px;
  }
}

@media (max-width: 900px) {
  .parrot {
    left: 50px;
    top: -17px;
  }
}

@media (max-width: 768px) {
  .parrot {
    top: 253px;
    left: 50px;
  }
}

@media (max-width: 481px) {
  .parrot {
    left: 13px;
  }
}