.parrot {
  width: 460px;
  position: relative;

  left: 28%;
  top: -57px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .parrot {
    left: 22%;
  }
}

@media (max-width: 900px) {
  .parrot {
    left: 10%;
    top: -13px;
  }
}

@media (max-width: 768px) {
  .parrot {
    top: 251px;
  }
}

@media (max-width: 481px) {
  .parrot {
    left: -2%;
  }
}