.hatman {
  position: absolute;
  z-index: 2;
  left: 75.5%;
  height: auto;
}

img {
  width: 276px;
}

@media screen and (max-width: 1192px) {
  .hatman {
    left: 68%;
    top: 370px;
  }

}

@media screen and (max-width: 900px) {
  .hatman {
    left: 0;
    top: 540px;
  }
}

@media screen and (max-width: 481px) {
  .hatman {
    top: 410px;
    img {
      width: 171px;
    }
  }
}