.logo {
  position: relative;
  z-index: 3;
  width: 111.16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  &_leaf1, &_leaf2, &_leaf3 {
    cursor: crosshair;
    transition: transform 1s;
    
  }

  &_leaf1 {
    &:hover {
      transform: translateY(-7px);
    }
  }

  &_leaf2 {
    &:hover {
      transform: translate(7px, -7px);
    }
  }

  &_leaf3 {
    &:hover {
      transform: translate(7px, -4px);
    }
  }


}